Midgard/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="row" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
	  <xs:attribute name="width" type="xs:int" use="required"/>
	  <xs:attribute name="height" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:attribute name="xrow" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
